@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-div-icon {
  background: none;
  border: none;
}

.cloud {
  position: absolute;
  width: 205px;
  height: 70px;
  background-color: white;
  border-radius: 100px;
  margin: 120px auto 20px 50px;
}

.cloud::after,
.cloud::before {
  content: "";
  position: absolute;
  background-color: #ffff;
  z-index: -1 !important;
}

.cloud::after {
  width: 90px;
  height: 100px;
  top: -30px;
  left: 20px;
  border-radius: 200px;
}

.cloud:before {
  width: 100px;
  height: 100px;
  top: -50px;
  right: 20px;
  border-radius: 200px;
}
