@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-div-icon {
  background: none;
  border: none;
}

.cloud {
  position: absolute;
  width: 205px;
  height: 70px;
  background: #e6f8ff;
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.cloud::after,
.cloud::before {
  content: "";
  position: absolute;
  background: inherit;
}

.cloud::after {
  width: 90px;
  height: 100px;
  top: -30px;
  left: 20px;
  border-radius: 200px;
}

.cloud:before {
  width: 100px;
  height: 100px;
  top: -50px;
  right: 20px;
  border-radius: 200px;
}
